name: Create release with binaries
on:
  workflow_dispatch:
    inputs:
      prerelease:
        type: boolean
        default: false
        description: Mark as a prerelease
env:
  SWIG_SUFFIX: -jse

jobs:
  create-release:
    name: Create the Github release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        draft: true
        skipIfReleaseExists: true
        prerelease: ${{ inputs.prerelease }}


  build:
    name: Build for ${{ matrix.id }}
    needs: [ create-release ]
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            id: linux-x64
          - platform: ubuntu-22.04-arm
            id: linux-x64
          - platform: macos-15
            id: darwin-arm64
          - platform: macos-15-intel
            id: darwin-x64
          - platform: windows-2022
            id: win32-x64
          - platform: windows-11-arm
            id: win32-arm64

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Conan
      uses: conan-io/setup-conan@v1

    - name: Install dependencies
      run: conan install .github/workflows -of . --build=missing

    - name: Configure (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
          call conanbuild.bat
          cmake --version
          cmake -A x64 ^
            -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}\dist\swig" ^
            -DCMAKE_C_FLAGS="/W3 /EHsc" ^
            -DCMAKE_CXX_FLAGS="/W3 /EHsc" ^
            -DCMAKE_TOOLCHAIN_FILE="conan_toolchain.cmake" ^
            -DSWIG_SUFFIX="${{ env.SWIG_SUFFIX }}" ^
            -DLINK_FLAGS="/NODEFAULTLIB:MSVCRT" -S . -B .

    - name: Configure (UNIX)
      if: runner.os != 'Windows'
      run: |
          . conanbuild.sh
          cmake --version
          cmake \
            -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/dist/swig" \
            -DCMAKE_TOOLCHAIN_FILE="conan_toolchain.cmake" \
            -DSWIG_SUFFIX="${{ env.SWIG_SUFFIX }}" \
            -DSWIG_RELOCATABLE=ON \
            -DSWIG_LIB=Lib \
            .

    - name: Build (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        call conanbuild.bat
        cmake --build . --config Release

    - name: Build (UNIX)
      if: runner.os != 'Windows'
      run: |
        . conanbuild.sh
        cmake --build .

    - name: Check the version number is correct (Linux)
      if: runner.os == 'Linux'
      run: |
        ACTUAL="v$(./swig${{ env.SWIG_SUFFIX }} -version | grep Version | egrep -o '[0-9]+\.[0-9]+\.[0-9]+')"
        EXPECTED="${{ github.ref_name }}"
        if test "${ACTUAL}" != "${EXPECTED}"; then
          exit 1
        fi

    - name: Check required dynamic libraries (Linux)
      if: runner.os == 'Linux'
      run: ldd ./swig${{ env.SWIG_SUFFIX }}

    - name: Check required dynamic libraries (macOS)
      if: runner.os == 'macOS'
      run: otool -L ./swig${{ env.SWIG_SUFFIX }}

    - name: Install
      run: cmake --install .

    - name: Run CMake tests
      run: ctest --output-on-failure -V -C Release

    - name: Pack the binaries
      shell: bash
      run: |
        cd dist
        tar -zcvf ../${{ matrix.id }}.tar.gz swig

    - name: Publish the binaries
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: ${{ matrix.id }}.tar.gz
        updateOnlyUnreleased: true
        omitNameDuringUpdate: true
        omitDraftDuringUpdate: true
        omitPrereleaseDuringUpdate: true


  test:
    name: Test ${{ matrix.id }}
    needs: [ build ]
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            id: linux-x64
          - platform: ubuntu-22.04-arm
            id: linux-x64
          - platform: macos-15
            id: darwin-arm64
          - platform: macos-15-intel
            id: darwin-x64
          - platform: windows-2022
            id: win32-x64
          - platform: windows-11-arm
            id: win32-arm64
    
    steps:
    - name: Checkout an example
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          Examples/javascript/class/example.i
          Examples/javascript/class/example.h

    - name: Download the binaries
      run: |
        gh release download  ${{ github.ref_name }} -p '${{ matrix.id }}*'
        tar zxvf ${{ matrix.id }}.tar.gz
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Check swiglib
      run: ./swig/bin/swig${{ env.SWIG_SUFFIX }} -swiglib

    - name: Generate example wrappers
      run: ./swig/bin/swig${{ env.SWIG_SUFFIX }} -javascript -napi -c++ Examples/javascript/class/example.i
